// COMMON SETTINGS

*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Roboto Slab', serif;
  margin: 0 auto;
  box-sizing: border-box;
  width: 100%;
  min-width: 1200px;
}

.container{
width: 1200px;
margin: 0 auto;}

// COMMON SETTINGS AND CLASSES

.pull-right {
float:right
}

.pull-left{
float:left
}

.text-right{
text-align:right;
}

.text-center{
text-align:center;
}

.text-left{
text-align: left;
}

.inline-block{
display: inline-block;
}

ul.inline-block>{
display: inline-block;
}

.inline{
display: inline
}

h4{
  font-family: 'Lobster', cursive;
  font-size: 24px;
  color: @bordo;
}

#toTop{
display: inline-block;
background-image: url(../img/spritesheet.png);
width: 28px;
height: 28px;
background-position: -5px -5px;
background-repeat: no-repeat;
position: fixed;
right: 50px;
bottom: 20px;
cursor: pointer;
}