// HEADER AND FOOTER

.page-header, .page-footer{
  background-image: url(../img/pink.jpg);
  width: 100%;
  min-height: 110px;
  position: relative;

    & ul>li{display: inline-block;}
}

.page-header:after{
  content: '';
  display: block;
  background-image: url(../img/px2.png);
  background-repeat: repeat-x;
  position: absolute;
  top: 100px;
  height: 24px;
  width: 100%;
}


.nav-item{
font-size: @normal + 2px;
text-decoration: none;
color: #ffc2d5;
text-transform: uppercase;
transition: all 1s;
padding: 15px;
position: relative;
line-height: 80px;
}

.nav-item:hover{
color: #fff;
}

.nav-item:hover:before{
  content: '';
  background-image: url(../img/spritesheet.png);
  background-position: -7px -145px;
  display: inline-block;
  background-repeat: no-repeat;
  width: 69px;
  height: 79px;
  position: absolute;
  bottom: -15px;
  right: 0;
  left: 0;
  margin: 0 auto;
}

.logo{
position: absolute;
z-index: 2;
top: 0px;
}

.page-footer{
  min-height: 80px;
}

.page-footer:before{
  content: '';
  display: block;
  background-image: url(../img/px2.png);
  background-repeat: repeat-x;
  position: absolute;
  bottom: 90px;
  height: 24px;
  width: 100%;
  transform: scale(1, -1);
}

.page-footer .logo{
  top: -60px;
}